
.element {
    height: 150px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes carousel {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: -1030px;
    }
}

@media (max-width: 468px) {
   .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    animation: carousel 7s infinite alternate;
   }

   .element {
    min-width: 150px;
   }

   .static {
    overflow-x: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right:5%; 
   }

}

@media (min-width: 469px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .element {
        width: 150px;
    }
}
